@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* Variaveis CSS */
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
}

/* ResetCSS */
* {
    margin: 0;
    padding: 0;
}

/* Flexbox */
body {
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.titulo-destaque {
    color: #22d4fd;
}

.cabecalho {
    padding: 2% 0 0 15.5%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: #f6f6f6;
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}

.rodape {
    color: #000000;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

/* 1. Base - Style comum a todas as paginas
   2. Layout - Style especifico para cada pagina
   3. Module - Style de component que pode se repetir em varias paginas
   4. State - Style que indica a mudança de estado de um componente (botao clicado ou nao, por exemplo)
   5. Theme */

/* Para nomearmos classes de componentes com o mesmo nome, utilizar .nomeDoCmponente-NomeDaPropriedade
   
    -- Box
    .box {}
    .box-title {}
    .box-image {}

    -- Navbar
    .navbar {}
    .navbar-title {}
    .navbar-item {} 

   Assim podemos importar os .css dos componentes sem haver conflito com nomes similares 
*/

/* No final, uma possivel maneira de nomear classes em css pode ser feita da seguinte forma
       
   -- Navbar
   .navbar {}
   .navbar__item {}
   .navbar__item--active {}

*/